%h1 New project
= form_for(@estimate) do |e|
  = e.text_field :project, :placeholder => "Project name"
  = e.text_area :description, :placeholder => "Description"
  = collection_select(:estimate, :template, Template.all, :id, :name, {:include_blank => 'Project type (optional)'})
  = e.hidden_field :user_id, value: current_user.id
  = e.submit "Create project"
