<h1><%= @estimate.project %></h1>
<%= link_to "New task", new_estimate_task_path(@estimate) %>

<ul>
  <% @estimate.tasks.each do |t| %>
    <li><%= t.name %>, <%= t.rate %>, <%= t.hours %></li>
  <% end %>
</ul>