%h1
  %span Project:
  = @estimate.project

%p
  - unless @estimate.description.nil? or @estimate.description.empty?
    = @estimate.description
  - else
    This project has no description. Did you know that a kitten dies every time someone creates a project without a proper description? Now you do.

- unless @estimate.tasks.empty?
  %table
    %thead
      %td Task
      %td.rate Rate
      %td
      %td.hours Hours
      %td
      %td.fee Fee
      %td
    %tbody
      - @estimate.tasks.each do |t|
        %tr{ title: t.name }
          %td= truncate(t.name, length: 30)
          %td.rate= t.rate
          %td.symbol x
          %td.hours= t.hours
          %td.symbol =
          %td.fee
            - unless t.subtasks.empty? or t.rate.nil?
              = t.subtasks.map(&:hours).inject(0, :+) * t.rate
            - else
              - unless t.rate.nil? or t.hours.nil?
                = t.rate * t.hours
          %td
            = link_to content_tag(:i, nil, class: "icon-flow-split"), new_child_task_path(t)
            = link_to content_tag(:i, nil, class: "icon-edit"), edit_estimate_task_path(@estimate, t)
            = link_to content_tag(:i, nil, class: "icon-cancel"), estimate_task_path(@estimate, t), :method => :delete, class: "delete-icon", title: "Delete this task"
        - unless t.subtasks.empty?
          - t.subtasks.each do |sub|
            = render "/shared/subtask_tree", pre: 0, parent: t, task: sub

  %p.total
    Hours:
    %span= @estimate.total_hours
    |
    Total fee:
    %span= @estimate.total_cost

- else
  %p This project has no tasks. You should create some, tasks are awesome. Just press the leftest one of the nifty icons below.

.project-icons
  = link_to content_tag(:i, nil, class: "icon-doc-new"), new_estimate_task_path(@estimate), title: "Create a new task for this project"
  = link_to content_tag(:i, nil, class: "icon-edit"), edit_estimate_path, title: "Edit project title or description"
  = link_to content_tag(:i, nil, class: "icon-trash"), @estimate, method: :delete, data: { confirm: "Wait, really? This project is awesome. Are you sure that you want it deleted?" }, class: "delete-icon", title: "Delete this project"

= render partial: "notes"

%br/
.editors
  %em Users with access to this project:
  %p
    %span.tag
      = link_to @estimate.author_name, @estimate.author
    - @estimate.editors.each do |u|
      %span.tag
        = link_to u.name, u
        - if current_user == @estimate.author
          = link_to content_tag(:i, nil, class: "icon-cancel"), estimate_update_users_path(@estimate, editor: u.email, estimate: { project: @estimate.project } ), method: :patch, data: { confirm: "Are you sure you want to remove access for this user?" } , class: "delete-icon", title: "Make this template private"
    %span.tag
      = link_to content_tag(:i, nil, class: "icon-user-add add-user"), estimate_add_user_path(@estimate), class: "add-user"