<h1><span>Project:</span> <%= @estimate.project %></h1>

<p>
  <% unless @estimate.description.nil? or @estimate.description.empty? %>
    <%= @estimate.description %>
  <% else %>
    This project has no description. Did you know that a kitten dies every time someone creates a project without a proper description? Now you do.
  <% end %>
</p>

<% unless @estimate.tasks.empty? %>
  <table>
    <thead>
      <td>Task</td><td>Rate</td><td></td><td>Hours</td><td></td><td>Fee</td><td></td>
    </thead>
    <tbody>
      <% @estimate.tasks.each do |t| %>
        <tr>
          <td><%= truncate(t.name, length: 18) %></td>
          <td><%= t.rate %></td>
          <td><span>x</span></td>
          <td><%= t.hours %></td>
          <td><span>=</span></td>
          <td><%= unless t.rate.nil? or t.hours.nil? then t.rate * t.hours end %></td>
          <td>
            <%= link_to content_tag(:i, nil, :class => "icon-edit"), edit_estimate_task_path(@estimate, t) %>
            <%= link_to content_tag(:i, nil, :class => "icon-cancel"), estimate_task_path(@estimate, t), :method => :delete, class: "delete-icon" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p class="total">Total fee: <span><%= @total %></span></p>
<% else %>
  <p>You should go on and create some tasks.</p>
<% end %>

<h2>Create new task</h2>
<%= render partial: "/tasks/new_form"  %>

<p class="project-icons">
  <%= link_to content_tag(:i, nil, class: "icon-edit"), edit_estimate_path, title: "Edit project title or description" %>
  <%= link_to content_tag(:i, nil, class: "icon-trash"), @estimate, method: :delete, confirm: "Wait, really? This project is awesome. Sure you want to delete?", class: "delete-icon", title: "Delete this project" %>
</p>