= form_for @task, url: child_tasks_path(@parent) do |f|
  = f.text_field :name, placeholder: "Name for task"
  = f.text_field :hours, placeholder: "Estimated number of hours to complete task"
  = f.hidden_field :parent_id, value: @parent.id
  = f.submit
