%nav
  = link_to user_path(current_user) do
    %i.icon-user-1
    = truncate(current_user.name || current_user.email, length: 10)
  = link_to destroy_user_session_path, method: :delete do
    %i.icon-logout
    Log out
%nav
  = link_to new_estimate_path do
    %i.icon-doc-new
    New project
  = link_to new_template_path do
    %i.icon-doc-new
    New templete
  = link_to estimates_path do
    %i.icon-menu
    Browse
  = link_to settings_path do
    %i.icon-cog-1
    Settings

