!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Estimator"
    %meta{:content => content_for?(:description) ? yield(:description) : "Estimator", :name => "description"}
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %script{:src => "//use.typekit.net/jnj3tjq.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    = csrf_meta_tags
    = yield(:head)

  %body{:class => "#{controller_name}-#{action_name}"}
    - if user_signed_in? and !current_page? root_path
      %header
        %div.container.hidden-menu
          = render partial: "/shared/hidden_menu"
        %div.container.top-bar
          = link_to image_tag("logo_white.svg"), root_path, :class => "logo"
          %nav
            /%a{:href => "#"} About
            %a.menu-trigger{:href => "#"}
              %i.icon-menu
    .container
      %section.main
        = yield
    %footer
      .container
        %p ♥ 2013 — Olle Werme
