!!!
%html
  %head
    %title Estimator
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %script{:src => "//use.typekit.net/jnj3tjq.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    = csrf_meta_tags
  %body
    - unless current_page? root_path or current_page? estimates_path
      %header
        %nav.hidden-menu
          .container
            .nav
              = link_to new_estimate_path do
                %i.icon-doc-new
                New project
              = link_to settings_path do
                %i.icon-cog-1
                Settings
        %nav.container
          = link_to image_tag("e_final.svg"), estimates_path, :class => "logo"
          .nav
            %a{:href => "#"} About
            %a.menu-trigger{:href => "#"}
              %i.icon-menu
    .container
      = yield
    %footer
      .container
        %p ♥ 2013 — Olle Werme
